{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="jumbotron" style="background-image: url({% static 'blog/img/about.jpg' %})">
    <center>
      <div class="container">
        <h1 id="header-title">{{ about.title }}</h1>
        <p id="header-main">{{ about.excerpt }}</p>
      </div>
    </center>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <article class="main-content">
        {{ about.body|safe }}
        </article>
      </div>
    </div>
  </div>
{% endblock main %}